.account {
    display: flex;
    flex-direction: column;
    height: 100%;

    .signChoices {
        display: flex;
        align-items: center;
        margin: 1.5vw auto;
        width: max-content;
        font-size: 20px;

        li {
            list-style-type: none;
            transition: 0.2s ease-in;
            padding: 10px 30px;
            cursor: pointer;
            border-bottom: 3px solid transparent;
            border-radius: 5px 5px 0 0;
            


            &.active {
                font-weight: 600;
                border-bottom: 3px solid #210b0026;
            } 
        }
    }

    .signIn {
        height: 100%;
    }


    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 35vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;

        // .choices__inner {
        //     background-color: $lightModeFontColor;
        //     border-radius: 6px;
        //     padding: 0.5rem;
        //     border: 1px solid #ccc;
        //     font-size: 16px;
        //   }
          
        //   .choices__list--dropdown .choices__item {
        //     padding: 0.5rem;
        //     &:hover {
        //       background-color: #f0f0f0;
        //     }
        //   }

        .choices {
            margin-bottom: 0;
        }
        
        .choices__inner {
            padding: 0 0.5vw;
            min-height: auto;
        }

        .choices__list--single  {
            position: relative;
            z-index: 6;
        }

        .choices[data-type*=select-one] .choices__inner {
            padding-bottom: 0;
        }

        .choices__list, .choices__list--dropdown {
            position: relative;
            z-index: 6;
            border-radius: 25px;
            border: none;
        }
        
        .choices__list--dropdown {
            margin-top: 5px;
        }

        .inputBox, .passwordInputBox, .choices__inner {
            border-radius: $borderRadius;
            position: relative;
            transition: 0.3s ease-in;

            input, select  {
                background: transparent;
                border: none;
                border-radius: $borderRadius;
                position: relative;
                z-index: 6;
                padding: 0.5vw;
                font-family: $font1;

                &::placeholder {
                    font-family: $font1;
                }

                &:focus-visible {
                    border: none;
                    outline: none;
                }
            }


            input {
                width: 100%;
            }


            select {
                width: 98%;

            }

           
            
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 35px;
                z-index: 5;
                backdrop-filter: blur(45px);
            }
        }

        .passwordInputBox {
            display: flex;
            width: 100%;
            border-radius: $borderRadius;
            align-items: center;

            input {
                width: 94%;
                background: transparent;
                border: none;
                border-radius: 25px 0 0 25px;
            }

            button {
                width: 6%;
                height: 95%;
                background: transparent;
                border-right: none;
                border-top: none;
                border-bottom: none;
            }
        }


        button[type="submit"] {
            margin: 30px auto;
            width: 30%;
            padding: 0.5vw;
            border-radius: $borderRadius;
            font-family: $font1;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 2px;
            background: transparent;
            cursor: pointer;
            transition: 0.3s ease-in;
        }
    }
}


.light {

    .account {
        .signChoices {
            border-bottom: 1px solid #210b0026;

            li {

                &:hover {
                    background: $darkModeDivBg
                }

                &.active {
                    border-bottom: 3px solid $lightModeFontColor;
                }
            }
        }

        
        .inputBox, .passwordInputBox, .choices__inner {
            background: $lightModeGradient;
            border: 1px solid #00000038;
            box-shadow: inset 35px 20px 8px 0px #efefef2e;
            
            input, select {    

                &::placeholder {
                    color: $lightModeFontColor;
                    opacity: 0.5;
                   
                }
            }

            .hideShow {
                z-index: 6;
                cursor: pointer;
                padding: 0 10px;
            }
            
        }

        .passwordInputBox {

            button {
                border-left: 1px solid #210b0026;
                opacity: 0.5;

                svg {
                    color: $lightModeFontColor;
                    font-size: 16px;
                }
            }
        }

        button[type="submit"] {
            border: 2px solid $lightModeFontColor;
            color: $lightModeFontColor;
            box-shadow: inset 1px 1px 31px $lightModeFontColor;
            background: $lightModeDivBg;

            &:hover {
                border-radius: 25px 0 25px 0;
            }

        }
    }
}

.dark {

    .account {
        .signChoices {
            border-bottom: 1px solid #ffeae026;

            li {

                &:hover {
                    background: $lightModeDivBg
                }

                &.active {
                    border-bottom: 3px solid $darkModeFontColor;
                }
            }
        }

        .inputBox, .passwordInputBox, .choices__inner {
            background: $darkModeGradient;
            border: 1px solid #ffffff38;
            box-shadow: inset 35px 20px 8px 0px #452e29;
            
            input, select {    
                color: $darkModeFontColor;

                &::placeholder {
                    color: $darkModeFontColor;
                    opacity: 0.5;
                   
                }
            }

            .hideShow {
                z-index: 6;
                cursor: pointer;
                padding: 0 10px;
            }
            
        }

        .passwordInputBox {

            button {
                border-left: 1px solid #ffeae026;
                opacity: 0.5;

                svg {
                    color: $darkModeFontColor;
                }
            }
        }

        button[type="submit"] {
            border: 2px solid #ededed3b;
            color: $darkModeFontColor;
            box-shadow: inset 1px 1px 31px #ededed3b;

            &:hover {
                border-radius: 25px 0 25px 0;
            }

        }
    }
}